extends layout

block content
  h1  title 
  p!= article
  p= 'Find out more:'
  for cat in categories
    p: a(href='/category/'+cat)= cat
  p= 'Species mentioned:'
  for spec in species
    p: a(href='/species/'+spec)= spec