extends layout

block content
  h1 Welcome to tree stories
  
  P We are combining several layers of wood culture into an educational resource that shouts about home grown timber
  
  h2 Species:
  for specie in species
    p: a(href='/species/'+specie.speciesname)= specie.speciesname
