extends layout

block content
  h1 Species of interest
  
  h2 Species:
  for specie in species
    p= specie.about
    p: a(href='/species/'+specie.speciesname)= 'Stories about ' + specie.speciesname
